{
  "http.port" : ,
  "http.ssl" : ,
  "http.image_dir" : "",
  "http.temp_dir" : "",
  "http.max_image_mb" : ,
  "db.host" : "",
  "db.port" : ,
  "db.name" : "",
  "db.user" : "",
  "db.pass" : "",
  "db.maxc" : ,
  "jwt.publickey" : "",
  "jwt.exptime" : ,
  "redis.pass" : "",
  "mail.host" : "",
  "mail.port" : ,
  "mail.user" : "",
  "mail.pass" : "",
  "card.encryptionkey" : "",
  "debug.enabled" : ,
  "debug.dsn" : "",
  "stripe.enabled" : ,
  "stripe.apikey" : "",
  "stripe.source_chargeable_secret" : "",
  "stripe.charge_succeeded_secret" : "",
  "card.max_tries" :,
  "card.failed_attempts_expiration" :,
  "queries.max_return_size" :,
}
