{
  "http.port" : ,
  "http.image_dir" : "",
  "http.max_image_mb" : ,
  "db.host" : "",
  "db.port" : ,
  "db.name" : "",
  "db.user" : "",
  "db.pass" : "",
  "db.maxc" : ,
  "jwt.publickey" : "",
  "jwt.exptime" : ,
  "redis.pass" : "",
  "mail.host" : "",
  "mail.port" : ,
  "mail.user" : "",
  "mail.pass" : "",
  "card.encryptionkey" : ""
}
